@use "sass:color";

.button {
  display: inline-block;
  padding: 15px 30px;
  border: 0;
  background-color: $secondaryColor;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover,
  &:focus {
    background-color: color.scale($secondaryColor, $lightness: 10%);
  }

  &:active {
    opacity: 0.8;
  }
}

.button--special {
  background-color: $specialColor;

  &:hover,
  &:focus {
    background-color: color.scale($specialColor, $lightness: 10%);
  }
}
